/* общие свойства для всех div с классом style-div*/
.style-div {
    height: auto; /* высота блоков будет сама подстраиваться под их внутренние объекты */
    width: 50%;
    border: 3px solid rgb(250, 167, 158);
    margin-top: 15px; /* внешний отступ между блоками */
}


/* свойства для standart-div не будут применены. в нём свойство display будет по-умолчанию */

/* свойства для grid-div */
/* grid разбивает блоки на равную сетку по переданным параметрам */
#grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* создаёт 2 столбца равной ширины */
    grid-template-rows: repeat(2, 1fr);  /* создаёт 2 строки равной высоты */
    gap: 10px;  /* задаёт расстояние между элементами сетки. всё ещё будет зависеть от ширины родительского блока. */
}

#flex-div {
    display: flex; /* flex - тоже позволяет управлять дочерними элементами внутри блока. изначально, разбивая их слева направо */
}

/* все свойства для блоков items */
.items {
    height: 100px;
    width: 100px;
    border: 2px solid;
    background: rgba(238, 130, 238, 0.5);
}

/* документация: https://developer.mozilla.org/ru/docs/Web/CSS/display */